{% extends 'base.html.twig' %}

{% block title %} <title>Reclamation</title> {% endblock title %}
{% block menu_reclamation %} class="active" {% endblock menu_reclamation %}
{% block current_page %}
    <div class="home_content_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content d-flex flex-row align-items-end justify-content-start">
                        <div class="current_page">Reclamation</div>
                        <div class="breadcrumbs ml-auto">
                            <ul>
                                <li><a href="{{ path('index') }}">Home</a></li>
                                <li>Reclamation</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock current_page %}

{% block content %}

<center>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 contact_form_container">

        <h1 class="contact_form_title"> Votre Reclamation </h1>
            <br><br>

        <table  class="table   table-hover">
            <tr>
                <th>Sujet</th>
                <td>{{ reclamation.sujet }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ reclamation.contenu }}</td>
            </tr>
        </table>


            <button id="valider" class="button contact_button" style="width: 2.7cm">
                <span> Valider </span>
            </button>
            </a>

            <a id="modifier" href="{{ path('reclamation_edit', { 'id': reclamation.id }) }}">
            <button class="button contact_button" style="width: 2.7cm">
                <span> Modifier </span>
            </button>
            </a>

                {{ form_start(delete_form) }}
            <button id="supprimer" class="button contact_button">
                <span> Supprimer la Reclamation </span>
            </button>
                {{ form_end(delete_form) }}
            <h6 id="txt" class="contact_form_title"  > a été bien envoyée </h6>
        </div>
    </div>
</div>
<br><br>
</center>

<script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
<script>
    $(document).ready(function () {
        $('#txt').hide();
        $(document).ready(
            function (){
                $('#valider').click(function () {
                    $('#valider').hide();
                    $('#modifier').hide();
                    $('#supprimer').hide();
                    $('#txt').show();
                })
            })
    });
</script>


{% endblock %}
