{% extends 'base.html.twig' %}

{% block content %}
    <center>
    <h1>Reservations list</h1>

    <table border="2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td><a href="{{ path('reservation_show', { 'id': reservation.id }) }}">{{ reservation.id }}</a></td>
                <td>{% if reservation.date %}{{ reservation.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ reservation.email }}</td>
                <td>{{ reservation.phone }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reservation_show', { 'id': reservation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reservation_edit', { 'id': reservation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul><br>
        <li>
            <a href="{{ path('reservation_new') }}">Create a new reservation</a>
        </li>
    </ul></center>
{% endblock %}
