{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notifications list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Icon</th>
                <th>Route</th>
                <th>Parameters</th>
                <th>Date</th>
                <th>Seen</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            <tr>
                <td><a href="{{ path('notification_show', { 'id': notification.id }) }}">{{ notification.id }}</a></td>
                <td>{{ notification.title }}</td>
                <td>{{ notification.description }}</td>
                <td>{{ notification.icon }}</td>
                <td>{{ notification.route }}</td>
                <td>{% if notification.parameters %}{{ notification.parameters|join(', ') }}{% endif %}</td>
                <td>{% if notification.date %}{{ notification.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if notification.seen %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('notification_show', { 'id': notification.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('notification_edit', { 'id': notification.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('notification_new') }}">Create a new notification</a>
        </li>
    </ul>
{% endblock %}
