{% extends 'basebo.html.twig' %}
{% block navbar %}{% endblock %}
{% block content %}
    <center>

        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 contact_form_container">

                    <br><br>
        <h1> Types des reclamations </h1>

                    <br><br>
                    <a href="{{ path('typereclamation_new') }}" class="btn btn-success btn-block" >Create a new Type de Reclamation</a>
        <table  class="table   table-hover table-striped" style="text-align: center"  >

            <tr class="thead-dark">
                <th> Id </th>
                <th> Nom </th>
                <th> Actions </th>
            </tr>

            {% for typeReclamation in typeReclamations %}
            <tr>
                <td><a href="{{ path('typereclamation_show', { 'id': typeReclamation.id }) }}">{{ typeReclamation.id }}</a></td>
                <td>{{ typeReclamation.nom }}</td>

                <td>
                    <a href="{{ path('typereclamation_edit', { 'id': typeReclamation.id }) }}"> Edit </a>
                </td>
            </tr>
            {% endfor %}
        </table>




                </div>
            </div>
        </div>


    </center>
{% endblock %}
