{% extends 'basebo.html.twig' %}
{% block navbar %}
    <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
        <li class="nav-item">
            <a href="{{ path('typereclamation_index') }}" class="nav-link">Back
            </a>
        </li>

    </ul>
{% endblock %}
{% block content %}
   <center>
       <h1>Type reclamation</h1>

       <table>

           <tr>
               <th>Id</th>
               <td>{{ typeReclamation.id }}</td>
           </tr>
           <tr>
               <th>Nom</th>
               <td>{{ typeReclamation.nom }}</td>
           </tr>

       </table>

               <a href="{{ path('typereclamation_edit', { 'id': typeReclamation.id }) }}">Edit</a>

               {{ form_start(delete_form) }}
               <input type="submit" value="Delete">
               {{ form_end(delete_form) }}



   </center>
{% endblock %}
