{% extends 'base.html.twig' %}
{% block title %} <title>Blog</title> {% endblock title %}
{% block menu_blog %} class="active" {% endblock menu_blog %}
{% block current_page %}
    <div class="home_content_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content d-flex flex-row align-items-end justify-content-start">
                        <div class="current_page">Blog</div>
                        <div class="breadcrumbs ml-auto">
                            <ul>
                                <li><a href="{{ path('index') }}">Home</a></li>
                                <li>Blog</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock current_page %}
{% block content %}
    <h1>Categories</h1>

    <table border="1">
        <thead>
        <tr>
            <th>Libelecategorie</th>
            <th>Nbrabo</th>
            <th>Nbrvu</th>
            <th>Desccategorie</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.libelecategorie }}</td>
                <td>{{ categorie.nbrabo }}</td>
                <td>{{ categorie.nbrvu }}</td>
                <td>{{ categorie.desccategorie }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('afficherarticle', { 'id': categorie.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block getyourticket  %}

{% endblock getyourticket %}