{% extends 'base.html.twig' %}

{% block content %}

    <div class="events container " style="max-width: 650px">
        <div class="card">
            <div class="card-body">

                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_widget(form.name, {'attr' : {'class': 'form-control','placeholder':'Nom'}}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.description, {'attr' : {'class': 'form-control','placeholder':'Description'}}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.name, {'attr' : {'class': 'form-control','placeholder':'Nom'}}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.adresse, {'attr' : {'class': 'form-control','placeholder':'Adresse'}}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.etat, {'attr' : {'class': 'form-control','placeholder':'Etat'}}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.ville, {'attr' : {'class': 'form-control','placeholder':'Ville'}}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.codepostal, {'attr' : {'class': 'form-control','placeholder':'Code postal'}}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.capacity, {'attr' : {'class': 'form-control','placeholder':'Capacité','min':'10'}}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.reserved, {'attr' : {'class': 'form-control','placeholder':'Réservées','value':'0','readonly':'true'}}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.date) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.time) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.numberofdays, {'attr' : {'class': 'form-control','placeholder':'Nombre de jours','min':'1'}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.eventtype, {'attr' : {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.free) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.prix, {'attr' : {'class': 'form-control','placeholder':'Prix'}}) }}
                </div>
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-primary" value="Create"/>
                {{ form_end(form) }}

                <ul>
                    <li>
                        <a href="{{ path('events_index') }}" class="btn btn-link">Back to the list</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
<script>

    $(document).ready(function(){
        $('#eventbundle_event_free').change(function(){
            if(this.checked){
                $('#eventbundle_event_prix').hide();
                $('#eventbundle_event_prix').attr(value,'0');}
            else
                $('#eventbundle_event_prix').show();

        });
    });

    $(function(){
        $('[type="date"]').prop('min', function(){
            return new Date().toJSON().split('T')[0];
        });
    });


</script>
<script>

    (function($) {
        $.fn.inputFilter = function(inputFilter) {
            return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                }
            });
        };
    }(jQuery));


    // Install input filters.

    $("#eventbundle_event_prix").inputFilter(function(value) {
        return /^\d*$/.test(value); });

</script>

{% endblock %}
