{% trans_default_domain 'FOSUserBundle' %}
<div class="events container " style="max-width: 650px">

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <div class="card">
        <div class="form-group">
            {{ form_widget(form.current_password, {'attr' : {'class': 'form-control','placeholder':'Entrer le mot de passe actuel'}}) }}

        </div>
        <div class="form-group">
            {{ form_widget(form.plainPassword.first, {'attr' : {'class': 'form-control','placeholder':'Entrer le nouveau mot de passe'}}) }}

        </div>
        <div class="form-group">
            {{ form_widget(form.plainPassword.second, {'attr' : {'class': 'form-control','placeholder':'Confirmer le nouveau mot de passe'}}) }}

        </div>

        <div>
        <input type="submit" class="btn btn-success mr-2" value="{{ 'Modifier'|trans }}" />
    </div>
{{ form_end(form) }}
    </div>
</div>