{% trans_default_domain 'FOSUserBundle' %}

<div class="events container " style="max-width: 650px">

<form action="{{ path("fos_user_security_check") }}" method="post">
    <div class="card">
        <div class="card-body">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="_password" value="{{ last_username }}"  required="required" />
            </div>
            <input type="submit" class="btn btn-success mr-2" id="_submit" name="_submit" value="Submit" />

            <div class="form-check form-check-flat">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me" value="on" /> remember me
                </label>
            </div>

            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
    </div>
</form>

</div>