{% extends 'basebo.html.twig' %}

{% block content %}
    <h2>Affichage des catégories de questions</h2>
    <br>
    <table border="1px" width="400" style="text-align:center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorieForum.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorieForum.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categorieForum.description }}</td>
            </tr>
        </tbody>
    </table>
            <br>
            <a class="btn btn-primary" href="{{ path('categorieforum_edit', { 'id': categorieForum.id }) }}">Modifier</a>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
            <br>
            <a class="btn btn-dark" href="{{ path('categorieforum_index') }}">Afficher la liste des catégories</a>


{% endblock content %}
