{% extends 'base.html.twig' %}
{% block title %} <title>Forum</title> {% endblock title %}
{% block menu_forum %} class="active" {% endblock menu_forum %}
{% block current_page %}
    <div class="home_content_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content d-flex flex-row align-items-end justify-content-start">
                        <div class="current_page">Forum</div>
                        <div class="breadcrumbs ml-auto">
                            <ul>
                                <li><a href="{{ path('index') }}">Home</a></li>
                                <li>Forum</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock current_page %}
{% block content %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div class="events">
        <div class="container">
            <div style="width: 1100px">
                <h1 style="color: black" align="center">Poser une question</h1>

                {{ form_start(form) }}
                {{ form_widget(form.resolue.setRendered()) }}
                {{ form_widget(form.upvotes.setRendered()) }}
                {{ form_widget(form.downvotes.setRendered()) }}
                {{ form_widget(form.idUser.setRendered()) }}
                {{ form_widget(form.date.setRendered()) }}
                <input align="center" class="btn btn-success btn-block" style="width:110px" type="submit" value="Créer" />
                {{ form_end(form) }}
            </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
